# pretrain and result
/output/
/pretrained/
/results/
/__pycache__/

# camparison and inference
/main_cmp.py
/inference.py
!/plot_results.ipynb
!/.ipynb_checkpoints/
/.ipynb_checkpoints/
!/.ipynb_checkpoints/

!/dataset/HS.py
!/model/diffusion/diffusion.py
/.ipynb_checkpoints/
/plot_results.ipynb
/plot.ipynb
/.ipynb_checkpoints/
